{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque quis eveniet odit corrupti voluptatum doloribus explicabo deleniti cumque, illo, similique dicta assumenda laboriosam dolores! Rerum praesentium dignissimos sunt, quibusdam labore distinctio provident beatae veniam temporibus odit a aliquam atque fugit enim consectetur quasi, qui delectus libero dolore iste nulla quam. Perferendis temporibus eligendi alias. Deleniti voluptate laudantium similique vitae assumenda excepturi provident consequuntur ipsum officiis! Nihil, iste autem fuga aut asperiores ipsum dolor eius ipsam est suscipit adipisci quidem, non porro at dolorem id, placeat laboriosam omnis reiciendis sequi ipsa quasi natus aperiam! Commodi debitis, eveniet doloremque porro excepturi consequuntur.</p>

        <div class="text-center">
            <a class="btn btn-dark" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>

    </section>
</main>

{% endblock %}